<h1> Edit Case</h1>
<%= form_for @case do |form| %>
<%= form.text_field :title, :placeholder => "Case title" %>
<%= form.text_field :simptoms, :placeholder => "Simptoms" %>
<%= form.text_field :status, :placeholder => "Status" %>
<%= form.submit %>
<% end %>