<div class="container">
<h1>Cases</h1>
<ul>
  <% @cases.each do |c| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=  link_to c.patient.email, c.patient %> | <%=  link_to c.title, c %></h3>
      </div>
      <div class="panel-body">
    		<p> <%= "Symptoms: " + c.simptoms %> </p>
    		<p> <%= "Status: " + c.status %> </p>
          </div>
      <div class="panel-footer">
        <span class="label label-default"><%= "Created by: " + c.doctor.email  %></span>
        <% if current_doctor == c.doctor %>
    		  <%= link_to("Edit", edit_case_path(c), class: 'btn btn-default btn-xs pull-right') %>
    		  <%=link_to("Delete", case_path(c), method: :delete, class: 'btn btn-danger btn-xs pull-right') %>
    		<% end %>
      </div>
    </div>
  <% end %>
</ul>
</div>
