<h1> New Entry</h1>
<%= form_for @entry do |form| %>
<%= form.text_field :title, :placeholder => "Entry title" %>
<%= form.text_field :entry_type, :placeholder => "Entry type" %>
<%= form.text_field :content, :placeholder => "Content" %>
<%= form.submit %>
<% end %>